body{
    background-color: #2A2542;
}
.main{
    width: 550px;
    height: 750px;
    border-radius: 50px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #724060;
    box-shadow: 0 0 10px 10px #80687D;
}
.outResult{
    width: 475px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    background-color: #C4B3CA;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.result{
    width: 450px;
    height: 75px;
    border-radius: 50px;
    outline: none;
    margin: auto;
    background-color: #C4B3CA;
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-style: oblique;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}
.commandButton{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 115px;
    height: 115px;
    border-radius: 57px;
    font-size: 100px;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}
.btn:nth-child(17){
    border: none;
    outline: 0;
    gap: none;
    margin: 3px 0 3px 3px;
    border-radius: 57px 0 0 57px;
}
.btn:nth-child(18){
    border: none;
    gap: none;
    margin: 3px 3px 3px 0;
    outline: 0;
    margin-left: -4px;
    border-radius: 0 57px 57px 0;
}